$btn : #ffcb65;
$layout: #F0BF5F;
$price: #d51c24;

body {
    margin: 0;
    padding: 0;
    font-family: "Libre Baskerville", serif !important;
// padding-top: 61px;
box-sizing: border-box;
transition: all 0.3s;
ul{
    margin: 0;
}
}
*, *::before, *::after {
    box-sizing: border-box;
}

.container {
max-width: 600px;
margin: 0 auto;
padding: 0 15px;
display: flex;
justify-content: space-between;
align-items: center;
height: 100%;
}
.App{
    background-color: #ffffff;
    .site-content{
        display: flex;
        flex-direction: column;
        min-height: 56vh;
    }

}