@import '../../App.scss';
$black: #000;
$white: #fff;
$gray: #ccc;
$smoke: #e2e2e2;
$disable: #f2f2f2;

section{
    width: 72%;
    margin: 20px auto;
    padding: 0;
    .responsive-table {
        li {
            border-radius: 3px;
            padding: 20px 0;
    display: flex;
    justify-content: space-between;
    }
    .table-header {
    background-color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.table-row {
    background-color: #ffffff;
}
.col-1 {
    flex-basis: 65%;
}
.col-2 {
    flex-basis: 25%;
}
.col-3 {
    flex-basis: 10%;
}
.product{
    display: flex;
    width: 100%;
    .product-image{
        overflow: hidden;
        width: 20%;
        aspect-ratio: 1;
        border: 1px solid rgba(#000, 0.08);
        display: flex;
        justify-content: center;
        img{
            width: 80%;
            object-position: center center;
            object-fit: cover;
        }
    }
    .product-content{
        width: 80%;
        padding: 20px;
        margin-right: 30%;
    }
}
.quantity{
    .qty{
        width: auto;
        display: inline-flex;
        align-items: center;
        flex: 1;
        .qty-input {
            border: 1px solid $smoke;
            color: $black;
                background: $white;
                display: flex;
                align-items: center;
                overflow: hidden;
                .product-qty,
                .qty-count {
                    background: transparent;
                    color: inherit;
                    font-weight: bold;
                    font-size: inherit;
                    border: none;
                    display: inline-block;
                    min-width: 0;
                    height: 2.5rem;
                    line-height: 1;
                    
                    
                    &:focus {
                        outline: none;
                    }
                }
                
                .product-qty {
                    width: 50px;
                    min-width: 0;
                    display: inline-block;
                    text-align: center;
                    appearance: textfield;		
                    
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        appearance: none;
                        margin: 0;
                    }
                }
                .qty-count {
                    padding: 0;
                    cursor: pointer;
                    width: 2.5rem;
                    font-size: 1.25em;
                    text-indent: -100px;
                    overflow: hidden;
                    position: relative;
                    
                    &:before, 
                &:after {
                    content: "";
                    height: 2px;
                    width: 10px;
                    position: absolute;
                    display: block;
                    background: $black;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
                &--minus {
                    border-right: 1px solid $smoke;
                }
                &--add {
                    border-left: 1px solid $smoke;
                    &:after {
                        transform: rotate(90deg);
                    }
                }
                
                &:disabled {
                    color: $gray;
                    background: $disable;
                    cursor: not-allowed;
                    border-color: transparent;
                    
                    &:before,
                    &:after {
                        background: $gray;
                    }
                }
            }
        }
        .delete{
            margin-left: 10px;
            font-size: 20px;
            transition: all 0.3s;
            color: #1B6E94;
            &:hover{
                cursor: pointer;
                color: $black;
                margin-bottom: 2px;
                }
            }
        }
    }
    .qty-input {
        border-radius: 4px;
        box-shadow: 0 1em 2em -0.9em rgba(#000, 0.3);
        transform: scale(1);
    }
}

.payment{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .checkout{
        margin: 15px 0;
        button{
            border-radius: 5px;
            border: none;
            background-color: #FFCB65;
            width: 400px;
            height: 45px;
            font-size: 20px;
            font-weight: 500;
            transition: scale 0.3s ease-in-out;
            &:hover{
                cursor: pointer;
                scale: 1.01;
            }
        }
    }
    .stripe{
        margin-bottom: 15px;
        .no-address{
            background-color: lighten($color: #3C0DEF, $amount: 40%);
            &:hover{
                background-color: lighten($color: #3C0DEF, $amount: 38%);

            }
        }
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border: none;
            width: 400px;
            height: 45px;
            align-items: center;
            margin: auto;
            background-color: #3C0DEF;
            color: #fff;
            font-weight: 700;
            font-size: 20px;
            img{
                margin: 5px;
                height: 20px;
                width: auto;
            }
            &:hover{
                cursor: pointer;
                background-color: darken(#3C0DEF, 10%);
            }
        }
    }
}
.no-address {
    width: 750px;
    height: auto;
    object-fit: contain;
}
}