@import '../../App.scss';

.footer {
    font-size: 18px;
    display: block;
    background-color: $layout;
    color: #000;
    padding: 20px 14%;
    margin-top: 48px;
    height: 60vh;
    h3 {
    font-size: 20px!important;
    }


    ul {
    padding: 0;
    }

    li {
    margin-bottom: 10px;
    }

    /* Responsive Styles */
    @media (max-width: 768px) {
    .container {
        text-align: center;
    }

    .col-md-6 {
        margin-bottom: 20px;
    }
    }
    .link{
        color: #000;
        align-items: center;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
}