@import '../../App.scss';

.no-scroll{
    overflow: hidden!important;
}

.navbar-container{
    margin-top: 10px;
    padding: 5px 14%;
    z-index: 10;
    div{
        div:nth-child(2){
            display: flex;
            align-items: center;
            padding: 0;
            .menu-list{
                display: inline-flex;
                flex-wrap: wrap;
                list-style: none;
                padding: 0;
                margin: 0;
                li{

                    a{
                        color: #000;
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: 400;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        &:hover{
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }

        }
        div:nth-child(3){
            display: flex;
            justify-content:space-between;
            align-items: center;
            .dropdown{
                .user{
                    z-index: 1;
                }
                position: relative;
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #fff;
                    min-width: 100px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    left: 50%;
                    transform: translateX(-10%);
                    top: 0;
                    opacity: 0;
                    transition: opacity 0.3s ease; // Sử dụng transition cho opacity
                    animation: dropdownAnimation 0.5s forwards; // Sử dụng animation cho hiệu ứng dropdown
                    animation-fill-mode: forwards;
                    z-index: 0;
                    a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                    }
                }
            }
            .dropdown:hover .dropdown-content {
                display: block;
            }
            .cart-quantity{
                position: relative;
                .circle{
                    position: absolute;
                    background-color: $btn;
                    right: 0;
                    bottom: 0;
                    transform: translateX(50%) translateY(25%);
                    width: 80%;
                    height: 80%;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                }
            }
            i{
                font-size: 20px;
                &:hover{
                    cursor: pointer;
                    margin-bottom:2px;
                }
            }
        }
    }
}

@keyframes dropdownAnimation {
    from {
        top: -50%; // Điểm bắt đầu của animation
        opacity: 0; // Opacity ban đầu là 0
    }
    to {
        top: 120%; // Điểm kết thúc của animation
        opacity: 1; // Opacity cuối cùng là 1
    }
}