@import '../../App.scss';

.pages-container{
    width: 50%;
    margin: 0 auto;
    h2{
        font-size: 60px;
        margin: 32px 0;
    }
    .content{
        font-size: 16px;
        margin-top: 32px;
    }
    .image-container{
        margin: 15px 0;
        div{
            margin: 15px;
        }
    }
}