@import '../../App.scss';

.product-detail-container{
    width: 72%;
    margin: 0 auto;
    .image-container{
        img{
            width: 100%;
            padding-right: 40px;
        }
    }
    .content{
        .price{
            color: $price;
            .vnd{
                text-decoration: underline;
            }
        }
    }
}