@import '../../App.scss';
$black: #000;
$white: #fff;
$gray: #ccc;
$smoke: #e2e2e2;
$disable: #f2f2f2;

.product-detail-container{
    width: 72%;
    margin: 0 auto;
    .image-container{
        display: flex;
        .fancybox-container{
            width: 80%;
            .product-images-slider{
                margin: 0;
                img{
                    height: auto;
                    width: 100%;
                }
            }
        }
        
        .image-thumbs-container{
            width: 20%;
            height: 60%;
            .product-images-slider-thumbs{
                margin-top: 10px;
                height: 100%;
                .swiper-wrapper{
                    flex-direction: column;
                }
                .swiper-slide{
                    width: 100%!important;
                    height: 20%!important;
                    border: none!important;
                    flex-shrink: unset;
                }
                .product-images-slider-thumbs-wrapper{
                    position: relative;
                    overflow: hidden;
                    padding: 0!important;
                    height: 100%;
                    img{
                        width: 80%;
                        // height: 100%;
                        object-position: center center;
                        object-fit: contain;
                        margin: auto auto;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        padding: 0;
                    }
                }
                .swiper-slide{
                    cursor: pointer;
                    border: 1px solid #ccc;
                    &-thumb-active{
                        border-color: #ccc;
                    }
                }
                &-wrapper{
                    width: 100%;
                    padding-top: 65%;
                    overflow: hidden;
                    position: relative;
                    img{
                        position: absolute;
                        top: -15px;
                        left: 0;
                        width: 100%;
                    }
                }
            }
        }
        img{
            width: 100%;
            // padding-right: 40px;
        }
    }
    .content{
        .author{
            color: rgba($color: #757575, $alpha: 0.9);
            text-transform: uppercase;
            &:hover{
                cursor: pointer;
            }
        }
        .title{
            font-size: 36px;
        }
        .price-content{
            font-size: 20px;
            display: flex;
            flex-wrap: wrap;
            font-weight: 700;
            .price{
                margin-right: 15px;
                color:#757575;
                text-decoration: line-through;
            }
            .final-price{
                color: $price;
                margin-right: 15px;
            }
            .save{
                font-size: 16px;
                font-weight: normal;
            }
        }
        .quantity{
            width: auto;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            flex-direction: column;
            flex: 1;
            div:first-child{
                font-size: 20px;
                font-weight: bold;
            }
            .qty-input {
                border: 1px solid $smoke;
                color: $black;
                    background: $white;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    .product-qty,
                    .qty-count {
                        background: transparent;
                        color: inherit;
                        font-weight: bold;
                        font-size: inherit;
                        border: none;
                        display: inline-block;
                        min-width: 0;
                        height: 2.5rem;
                        line-height: 1;
                        
                        
                        &:focus {
                            outline: none;
                        }
                    }
                    
                    .product-qty {
                        width: 50px;
                        min-width: 0;
                        display: inline-block;
                        text-align: center;
                        appearance: textfield;		
                        
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            appearance: none;
                            margin: 0;
                        }
                    }
                    .qty-count {
                        padding: 0;
                        cursor: pointer;
                        width: 2.5rem;
                        font-size: 1.25em;
                        text-indent: -100px;
                        overflow: hidden;
                        position: relative;
                        
                        &:before, 
                    &:after {
                        content: "";
                        height: 2px;
                        width: 10px;
                        position: absolute;
                        display: block;
                        background: $black;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                    &--minus {
                        border-right: 1px solid $smoke;
                    }
                    &--add {
                        border-left: 1px solid $smoke;
                        &:after {
                            transform: rotate(90deg);
                        }
                    }
                    
                    &:disabled {
                        color: $gray;
                        background: $disable;
                        cursor: not-allowed;
                        border-color: transparent;
                        
                        &:before,
                        &:after {
                            background: $gray;
                        }
                    }
                }
            }
        }
        .payment-btn{
            display: flex;
            flex-direction: column;
            margin-top: 32px;
            .add-to-cart-btn, .buy-btn{
                margin: 15px 0;
                width: 100%;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #fff;
                color: #1B84BF;
                border: #1B84BF 1px solid;
                border-radius: 5px;
                font-size: 20px;
                padding: 8px;
                transition: 0.1s border;
                z-index: 1;
                left: 50%;
                box-sizing: border-box;
                &:hover{
                    box-shadow: 0 0 5px rgba(27, 110, 148, 0.5);
                }
            }
        }
    }
    .review-container{
        margin-top: 40px;
        .review{
            background-color: #FFE8BD;
            height: 32px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: row;
            font-weight: bold;
            border-radius: 2px;
            .review-title{
                background-color: #FFCB65;
                padding: 3px 10px;
                text-align: center;
                &:hover{
                    cursor: pointer;
                }
            }
            .review-hide{
                padding: 3px 10px;
                text-align: center;
                background-color: #FFD991;
                transition: background-color 0.3s ease-in-out;
                &:hover{
                    cursor: pointer;
                    background-color: #FFD27B;
                }
            }
        }
        .review-content{
            border-top: none !important;
            border: 1px solid #ccc;
            border-radius: 2px;
            p{
                padding: 20px;
                font-size: 16px!important;
            }
        }
    }
    .rating-container{
        margin-top: 20px;
        border: 1px solid #ccc;
    }
    .same-author{
        margin-top: 40px;
        .title{
            height: 32px;
            text-align: center;
            line-height: 32px;
            font-weight: bold;
            background-color: #FFCB65;
        }
        .watch-more{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            .watch-more-btn{
                border-radius: 3%;
                padding: 3px 10px;
                font-weight: bold;
                background-color: #FFCB65;
                border: none;
            }
        }
    }
    .same-container{

        .same-kind{
            margin-bottom: 15px;
            position: relative;
            text-align: center;
            h2{
                color: #333333;
                margin: 0px;
                position: relative;
                z-index: 2;
                background: #fff;
                display: inline-block;
                padding: 0 15px;
            }
        }
        .same-kind::after{
            content: "";
            width: 100%;
            height: 2px;
            background: #000;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            position: absolute;
        }
    }
    .viewed-container{
        .viewed-title{
            margin-bottom: 15px;
            position: relative;
            text-align: center;
            h2{
                color: #333333;
                margin: 0px;
                position: relative;
                z-index: 2;
                background: #fff;
                display: inline-block;
                padding: 0 15px;
            }
        }
        .viewed-title::after{
            content: "";
            width: 100%;
            height: 2px;
            background: #000;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            position: absolute;
        }
    }
    .clearfixx::after {
        content: '';
        display: table;
        clear: both;
    }
    .clearfixx {
        overflow: auto;
    }
}